/* Styles */
body{
    margin: 0;
}
.container{
    padding: 0px 2%;
}
h1{
    font-family: 'Redressed', cursive;
    font-size: 50px;
    text-align: center;
    color: rgba(33,37,41,0.9);
}
.container-content{
    margin: 0px 20px;
}
.entornos{
    font:600 15px 'Open Sans', sans-serif;
}
.entorno{
    display: inline;
    padding: 1px 8px;
    border-radius: 10px;
    color: #fff;
    background:rgb(255, 78, 78);
    cursor: pointer;
}
#formulario{
    display: flex;
    flex-direction: column;
    
}
#input{
    padding: 8px 10px;
    margin: 10px 0;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.btn-primary{
    cursor: pointer;

    color: #fff;
    padding: 10px 20px;
    background: rgb(6, 155, 255);
    border-radius: 4px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.btn-primary:hover{
    background: #3f69ff;
}
.lista-tareas{
    width: 100%;
}
.alert, .alert-complete{
    padding: 7px 7px 5px 10px;
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}

.alert{
    background: rgb(255, 250, 117);
}
.alert-complete{
    background: rgb(174, 227, 255);
}
.alert-nothing{
    background: rgb(162, 162, 162);
    display: block;
    text-align: center;
    padding: 7px 7px 5px 10px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    }
.name-tarea{
    overflow-wrap: anywhere;
    margin-right: 15px;
}
.icon-container{
    min-width: 73px;
}
.fa-check-circle,.fa-minus-circle,.fa-undo-alt{
    font-size: 28px;
    margin: 0 3px;
    cursor: pointer;
}
.fa-check-circle:hover,.fa-minus-circle:hover,.fa-undo-al:hover{
    opacity: 70%;
}
.fa-check-circle{
    color: green;
}

.fa-minus-circle{
    color: rgb(253, 132, 152);
}
.fa-undo-alt{
    color: aliceblue;
    font-size: 26px;
    margin: 0 4px;
}
